<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', path='vendor/bootstrap/5.1.0/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='vendor/jquery-ui/1.12.1/css/jquery-ui.css') }}" rel="stylesheet" >

    <!--
    <link href="{{ url_for('static', path='vendor/semantic-ui/2.4.2/css/semantic.min.css') }}" rel="stylesheet" />
    -->

    {% block title %}
    {% endblock %}
</head>

<body>
    {% include "components/navbar.html" %}
    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', path='vendor/bootstrap/5.1.0/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/jquery/3.6.0/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/jquery-ui/1.12.1/js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', path='js/autocomplete.js') }}"></script>

    <!--
    <script src="{{ url_for('static', path='vendor/semantic-ui/2.4.2/js/semantic.min.js') }}"></script>
    -->

    {% block scripts %}
    {% endblock %}

</body>
</html>
